[Unit]
Description=screensaverreset

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/usr/bin/screensaverreset

[Install]
WantedBy=multi-user.target
